<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<context:component-scan base-package="com.shidan.product"></context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 配置视图查看器 -->
	<bean name="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	 
	<!-- 定义一个连接池组件 -->
	<bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"></property>
		<property name="password" value="test"></property>
		<property name="username" value="test"></property>
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		
		<property name="initialSize" value="10"></property>
		<property name="maxActive" value="50"></property>
		<property name="minIdle" value="3"></property>
		<property name="maxIdle" value="10"></property>
		<property name="maxWait" value="3000"></property>
	</bean>
	
	<!-- 定义一个sqlSessionFactroy bean -->
	<bean name="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mapperLocations" value="classpath:com/shidan/product/entity/*.xml"></property>
	</bean>
	
	<!-- 配置MapperFacotryBean -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.shidan.product.dao"></property>
		<property name="annotationClass" value="com.shidan.product.annotation.MyAnnotation"></property>
	</bean>
	
	<!-- 配置拦截器 -->
 	<mvc:interceptors>
		<!-- 登录拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/login/*"/>
			<bean class="com.shidan.product.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
		<!-- 当前模块拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.shidan.product.interceptor.CurrentModuleInterceptor"></bean>
		</mvc:interceptor>
		
		<!-- 权限拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/login/*"/>
			<bean class="com.shidan.product.interceptor.PrivilegeInterceptor"></bean>
		</mvc:interceptor>
		
	</mvc:interceptors>
	
</beans>
